<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [startOfWeek]=1
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>startOfWeek: 1</li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [availabilityRule]="excludeRule"
    [startOfWeek]=1
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>startOfWeek: 1</li>
    <li>Exclude:
      <ul>
        <li *ngFor="let day of excludeRule.dates">
          {{day.format('DD/MM/YYYY')}}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [availabilityRule]="includeRule"
    [startOfWeek]=1
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>startOfWeek: 1</li>
    <li>Include:
      <ul>
        <li *ngFor="let day of includeRule.dates">
          {{day.format('DD/MM/YYYY')}}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [startOfWeek]=2
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>startOfWeek: 2</li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [from]="fromDay"
    [current]="toDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>from: {{fromDay.format('DD/MM/YYYY')}}</li>
    <li>current: {{toDay.format('DD/MM/YYYY')}}</li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [current]="fromDay"
    [to]="toDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>to: {{toDay.format('DD/MM/YYYY')}}</li>
    <li>current: {{fromDay.format('DD/MM/YYYY')}}</li>
  </ul>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [current]="nextMonth"
    [to]="maxDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
  <ul>
    <li>min: {{minDay.format('DD/MM/YYYY')}}</li>
    <li>max: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>to: {{maxDay.format('DD/MM/YYYY')}}</li>
    <li>current: {{nextMonth.format('DD/MM/YYYY')}}</li>
  </ul>
</div>
