<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [startOfWeek]=1
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [startOfWeek]=2
    [full]=true
    (selected)="show('DATE PICKER FROM', $event)"
  ></ng-dates>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [from]="fromDay"
    [current]="toDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [current]="fromDay"
    [to]="toDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
</div>

<div style="margin: 20px;">
  <ng-dates
    [min]="minDay"
    [max]="maxDay"
    [current]="nextMonth"
    [to]="maxDay"
    (selected)="show('DATE PICKER TO', $event)"
  ></ng-dates>
</div>
